*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.container{
    background-image: radial-gradient(rgb(209, 244, 255), rgb(140, 203, 255));
}

.taskbar{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #f3f3f3;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
.taskbar .icons{
    z-index: 3000;
}
.taskbar .icons li{
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    border: 1px solid transparent;
}
.taskbar .icons li img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    transition: transform .2s;
}
.taskbar .icons li:hover{
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
    border: 1px solid #ccc;
}
.taskbar .icons li:active img{
    transform: translate(-50%, -50%) scale(.8);
    filter: brightness(.7);
}
.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
}
.common{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
    z-index: 1500;
    transition: top .2s;
    top: 130%;
}
.common img{
    border-radius: 8px;
}
.start-menu-animation{
    top: 60.5%;
}
.search-bar-animation{
    top: 63%;
}
.search-bar-input{
    position: absolute;
    left: 50%;
    top: 22px;
    transform: translateX(-50%);
    width: 96.15%;
    padding: 8px 0 9px 35px;
    border: 2.5px solid rgb(230, 230, 230);
    border-bottom-color: #015fd0;
    border-radius: 5px;
    background-color: transparent;
}
.search-bar-input:focus{
    outline: none;
}
.file-explorer-icon{
    position: absolute;
    left: 20px;
    top: 155px;
}
.file-explorer-icon:hover{
    opacity: .5;
}

.file-explorer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in;
    height: 704px;
    border-radius: 8px;
    z-index: 1000;
}
.file-explorer-open{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.file-explorer img{
    border-radius: 8px;
}
.file-explorer span{
    display: inline-block;
    border-top-right-radius: 8px;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 45px;
    font-size: 25px;
    color: #a3a3a3;
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
}
.file-explorer span:hover{
    background-color: rgb(207, 0, 0);
    color: white;
    cursor: default;
}