.taskbar {
  width: 100vw;
  height: 50px;
  background-color: #f6f5f8;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;

  @media (max-width: 500px) {
    height: 40px;
  }
}

.icons {
  list-style: none;
  display: flex;
  z-index: 3000;

  &__icon {
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 500px) {
      height: 35px;
      width: 35px;
    }

    &:hover {
      border: 1px solid #ccc;
      cursor: pointer;
    }

    &:active img {
      transform: scale(0.7);
      filter: brightness(0.7);
    }

    &__minimized {
      border: 1px solid #ccc;
    }

    img {
      transition: all 0.2s;
      display: inline-block;
      width: 100%;
    }
  }
}
