.searchMenu {
  position: absolute;
  z-index: 1500;
  left: 50%;
  bottom: -150%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  &.show {
    bottom: 52px;
    opacity: 1;
    visibility: visible;
  }

  img {
    border-radius: 0.3em;
  }

  input {
    position: absolute;
    display: inline-block;
    height: 20px;
    font-size: 0.9rem;
    width: 70%;
    border: none;
    outline: none;
    top: 5.2%;
    left: 7%;
  }
}

.fileExplorerIcon {
  position: absolute;
  left: 3%;
  top: 25.5%;

  &:hover {
    cursor: pointer;
    filter: brightness(0.97);
  }
}

.resetBackground {
  position: absolute;
  z-index: 1000;
  background-color: transparent;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
