.searchMenu {
  width: min(720px, 97%);
  min-height: 0;
  min-height: 0;
  max-height: 0px;
  background-color: #f6f6f6;
  border-radius: 5px;
  position: absolute;
  z-index: 1500;
  left: 50%;
  bottom: 55px;
  transform: translateX(-50%);
  transition: all 0.2s;
  overflow: hidden;

  @media (max-width: 500px) {
    bottom: 45px;
  }

  &__searchBox {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #e8e5e9;
    border-bottom: 3px solid #418dd4;
    background-color: white;

    &__container {
      padding: 4% 3% 2%;
    }

    .icon {
      margin-right: 10px;
    }

    input {
      display: block;
      width: 100%;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  &__nav {
    padding: 1% 3%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      list-style: none;
      display: flex;
      font-size: 12px;
      align-items: center;

      li {
        cursor: pointer;
      }
    }

    &__left {
      li {
        color: #818c93;
        margin-right: 10px;

        &:first-child,
        &:hover {
          color: black;
        }

        &:last-child {
          display: flex;
          align-items: center;
        }
      }
    }

    &__right {
      li {
        font-size: 16px;
        margin-left: 10px;
      }
    }
  }

  &__topApps {
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    &__container {
      padding: 1% 3%;

      p {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      align-items: center;
      min-width: 600px;
    }

    &__app {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      padding: 10px 10px 15px;
      border-radius: 5px;
      border: 1px solid #e8e5e9;
      cursor: pointer;

      @media (max-width: 500px) {
        padding: 5px 5px 10px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }

      img {
        width: 45px;

        @media (max-width: 500px) {
          width: 35px;
        }
      }
      span {
        font-size: 11px;

        @media (max-width: 500px) {
          font-size: 10px;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__recentApps {
    margin-left: 5px;

    &__container {
      padding: 1% 0 1% 3%;
      width: 49%;

      p {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }

    &__app {
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 3px;
      margin-bottom: 10px;

      img {
        width: 35px;
        margin-right: 5px;

        @media (max-width: 500px) {
          width: 30px;
        }
      }

      span {
        font-size: 12px;
        font-weight: 400;

        @media (max-width: 500px) {
          font-size: 10px;
        }
      }

      &:hover {
        background-color: white;
      }
    }
  }

  &__quickSearches {
    margin-left: 5px;

    &__container {
      padding: 1% 3% 1% 0;
      width: 49%;

      p {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }

    &__app {
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 3px;
      padding: 10px 5px;

      .icon {
        font-size: 25px;
        margin-right: 10px;

        @media (max-width: 500px) {
          font-size: 20px;
        }
      }

      span {
        font-size: 12px;
        font-weight: 400;

        @media (max-width: 500px) {
          font-size: 10px;
        }
      }

      &:hover {
        background-color: white;
      }
    }
  }

  &.show {
    min-height: 65vh;
    min-height: 65dvh;
    max-height: 650px;
  }
}

.resetBackground {
  position: absolute;
  z-index: 1000;
  background-color: transparent;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
