.body {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-image: url("/images/wallpaper.webp");
  background-size: cover;
  background-position: top;
  position: relative;
}

.FileExplorer__container {
  height: 100%;
  display: grid;
  place-items: center;
}
